body {
    background-color: aqua;
    align-items: center;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#exibir{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1000%;
}
